<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cognizant Challenge</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link th:href="@{/css/style.css}" rel="stylesheet">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary"> <!--style="background-color: #359930;-->
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

        <div class="mr-auto mt-2 mt-lg-0">
            <a class="navbar-brand" href="/">Cognizant Challenge</a>
        </div>
        <div class="form-inline my-2 my-lg-0">
            <form class="mr-2" id="btn1" th:action="@{/}" method="GET">
                <button class="btn btn-outline-light" type="submit" disabled>Solve</button>
            </form>
            <form id="btn2" th:action="@{/topThree}" method="GET">
                <button class="btn btn btn-outline-light" type="submit">Top 3</button>
            </form>
        </div>
    </div>
</nav>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="wrapper img bg-info">
                    <div class="row">
                        <div class="col-md-9 col-lg-7">
                            <div class="contact-wrap w-100 p-md-5 p-4">
                                <h3 class="mb-4">Programming competition game</h3>
                                <div id="form-message-warning" class="mb-4"></div>
                                <div id="form-message-success" class="mb-4">
                                    Your submitted your code, thank you!
                                </div>
                                <form method="POST" id="form" name="form" class="form" th:action="@{/event}"
                                      th:object="${submitValue}">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="label" for="name">Name</label>
                                                <input type="text" class="form-control" name="name" id="name"
                                                       placeholder="Name" th:field="*{name}">
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="label" for="task">Select Task</label>
                                                <select name="task" id="task" class="custom-select"
                                                        th:field="*{taskName}">
                                                    <option selected value="val321">Choose your task...</option>
                                                    <option th:each="i : ${#numbers.sequence(0, taskList.size()-1)}"
                                                            th:value="${taskList.get(i)}"
                                                            th:text="${taskList.get(i).getId()}">
                                                    </option>

                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-12 ">
                                            <div class="form-group ">
                                                <label class="label" for="description">Description:</label>
                                                <div style="height: 75px" class="overflow-auto" name="description"
                                                     id="description" placeholder="Description"></div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="label" for="solution">Solution Code</label>
                                                <textarea th:field="*{inputParameter}" name="solution"
                                                          class="form-control" id="solution" cols="60" rows="8"
                                                          placeholder="Solution Code">
													</textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group ">
                                                <input id="btnSubmit" type="submit" value="Submit"
                                                       class="btn btn-primary">
                                                <div class="submitting"></div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="../js/jquery.min.js"></script>
<script src="../js/popper.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/jquery.validate.min.js"></script>
<script src="../js/main.js"></script>

</body>
</html>

